<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiRidmID9iWNP4HkvHo1x2xkPr9O0_rIk</string>
	<key>GCM_SENDER_ID</key>
	<string>933465388799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relateddigital.RelatedDigitalExampleTests</string>
	<key>PROJECT_ID</key>
	<string>new-sdk-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>new-sdk-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933465388799:ios:140d57962d1b68c9f93eca</string>
</dict>
</plist>